In [54]:
temp = 134
d = list()

In [55]:
while (temp !=0):
    d.append(temp%10)
    temp//=10

In [56]:
d = list(set(d))

In [57]:
d

[1, 3, 4]

In [58]:
import itertools

all_combo = []
for L in range(0, len(d)+1):
    for subset in itertools.combinations(d, L):
        all_combo.append(subset)

In [112]:
all_combo

[(), (1,), (3,), (4,), (1, 3), (1, 4), (3, 4), (1, 3, 4)]

In [113]:
new_num_list = []

In [114]:
combination_list2 = []

In [115]:
for i in all_combo:
    if len(i) == 0:
        pass
    elif len(i) == 1:
        new_num_list.append(str(i[0]))
    else:
        new_str = ''
        for j in range(len(i)):
            new_str += str(i[j])
        new_num_list.append(new_str)

In [116]:
new_num_list

['1', '3', '4', '13', '14', '34', '134']

In [15]:
itertools.combinations(d, 2)

In [83]:
from itertools import permutations
#print [''.join(p) for p in permutations(new_num_list)]

In [98]:
perm_all = []

In [99]:
for num in new_num_list:
    perm = permutations(num)
    perm_all.append(list(perm))

In [104]:
sub_str = ''

In [117]:
perm_all

[[('1', '3'), ('3', '1')],
 [('1', '4'), ('4', '1')],
 [('3', '4'), ('4', '3')],
 [('1', '3', '4'),
  ('1', '4', '3'),
  ('3', '1', '4'),
  ('3', '4', '1'),
  ('4', '1', '3'),
  ('4', '3', '1')]]

In [110]:
final_list = []
for i in list(perm_all):
    for j in i:
        for k in j:
            sub_str+=k
        final_list.append(int(sub_str))
        sub_str = ''

In [111]:
final_list

[13, 31, 14, 41, 34, 43, 134, 143, 314, 341, 413, 431]

In [70]:
combination_list2

[1, 3, 4]

In [42]:
final_list = []

In [43]:
combination_list = [11,12,13,14,1]

In [44]:
def check    
    for num in combination_list:
        if num > 1:
            for i in range(2, int(num/2)+1):
                    if (num%i) == 0:
                        # number is not prime adn move on to next number
                        break
            else:
                  final_list.append(num)

In [45]:
final_list

[11, 13]

In [92]:
111

111

In [93]:
11

11

In [94]:
1

1

In [119]:
def PrimalGear(numberValue):
    # breaking the input number and getting each number separetly in list d
    temp = numberValue
    d = list()
    while (temp !=0):
        d.append(temp%10)
        temp//=10
    d = list(set(d))
    
    # Create different combinations of the numbers and store them into all_combo
    # We got tuples of varying length of all the possible digits of our number
    all_combo = []
    for L in range(0,len(d)+1):
        for subset in itertools.combinations(d,L):
            all_combo.append(subset)
    
    # Now converting tuples into the list of strings
    new_num_list = []
    for i in all_combo:
        if len(i) == 0:
            pass
       	elif len(i) == 1:
            new_num_list.append(str(i[0]))
        else:
            new_str = ''
            for j in range(len(i)):
                new_str+= str(i[j])
            new_num_list.append(new_str)
        
    # Find all permutaions of each number string
    perm_all = []
    for num in new_num_list:
        perm = permutations(num)
        perm_all.append(list(perm))
    
    # joining each combination to a number form and storing them into combination_list
    sub_str = ''
    combination_list = []
    for i in list(perm_all):
        for j in i:
            for k in j:
                sub_str += k
            combination_list.append(int(sub_str))
            sub_str = ''

    # final_list contains all my prime numbers from combination_list
    final_list = []
    
    # Checking all numbers from final list if they are prime or not
    for num in combination_list:
        if num > 1:
            for i in range(2, int(num/2)+1):
                if (num%i) == 0:
                    # number is not prime adn move on to next number
                    break
            else:
                final_list.append(num)
    return len(final_list)

In [137]:
result = PrimalGear(int(123.312))

In [138]:
result

5

In [ ]:
# your code goes here
from itertools import permutations
import itertools
def PrimalGear(numberValue):
    # breaking the input number and getting each number separetly in list d
    temp = numberValue
    d = list()
    while (temp !=0):
        d.append(temp%10)
        temp//=10
    d = list(set(d))
    
    # Create different combinations of the numbers and store them into all_combo
    # We got tuples of varying length of all the possible digits of our number
    all_combo = []
    for L in range(0,len(d)+1):
        for subset in itertools.combinations(d,L):
            all_combo.append(subset)
    
    # Now converting tuples into the list of strings
    new_num_list = []
    for i in all_combo:
        if len(i) == 0:
            pass
       	elif len(i) == 1:
            new_num_list.append(str(i[0]))
        else:
            new_str = ''
            for j in range(len(i)):
                new_str+= str(i[j])
            new_num_list.append(new_str)
        
    # Find all permutaions of each number string
    perm_all = []
    for num in new_num_list:
        perm = permutations(num)
        perm_all.append(list(perm))
    
    # joining each combination to a number form and storing them into combination_list
    sub_str = ''
    combination_list = []
    for i in list(perm_all):
        for j in i:
            for k in j:
                sub_str += k
            combination_list.append(int(sub_str))
            sub_str = ''

    # final_list contains all my prime numbers from combination_list
    final_list = []
    
    # Checking all numbers from final list if they are prime or not
    for num in combination_list:
        if num > 1:
            for i in range(2, int(num/2)+1):
                if (num%i) == 0:
                    # number is not prime adn move on to next number
                    break
            else:
                final_list.append(num)
    return len(final_list)
	 
if __name__ == '__main__':
    # numberVal = 177
    result = PrimalGear(int(144))
    print(result)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns = ['Status', 'No_of_likes', 'Friend_type'])

In [3]:
df

Empty DataFrame
Columns: [Status, No_of_likes, Friend_type]
Index: []

In [4]:
sample_input = [["Hello World",25,"CF"],["Moving to NEW YORK",45,"F"],["Scala is Great",100,"CF"],["ML & DL Gaining Traction",10,"CF"],["ML and DL can be applied to medical domain",155,"F"],["Data is new OIL",20,"CF"],["Movie Night",200,"F"]]

In [8]:
for i in sample_input:
    df.loc[len(df.index)] = i

In [10]:
df

                                       Status No_of_likes Friend_type
0                                 Hello World          25          CF
1                          Moving to NEW YORK          45           F
2                              Scala is Great         100          CF
3                    ML & DL Gaining Traction          10          CF
4  ML and DL can be applied to medical domain         155           F
5                             Data is new OIL          20          CF
6                                 Movie Night         200           F

In [11]:
df2 = pd.DataFrame(sample_input, columns=['Status', 'No_of_likes', 'Friend_type'])

In [12]:
df2

                                       Status  No_of_likes Friend_type
0                                 Hello World           25          CF
1                          Moving to NEW YORK           45           F
2                              Scala is Great          100          CF
3                    ML & DL Gaining Traction           10          CF
4  ML and DL can be applied to medical domain          155           F
5                             Data is new OIL           20          CF
6                                 Movie Night          200           F

In [ ]:
"Scala is Great,
Hello World,
Data is new OIL,
ML & DL Gaining Traction,
Movie Night,
ML and DL can be applied to medical domain,
Moving to NEW YORK"

In [23]:
df3 = df2.sort_values(['Friend_type'])

In [24]:
df3

                                       Status  No_of_likes Friend_type
0                                 Hello World           25          CF
2                              Scala is Great          100          CF
3                    ML & DL Gaining Traction           10          CF
5                             Data is new OIL           20          CF
1                          Moving to NEW YORK           45           F
4  ML and DL can be applied to medical domain          155           F
6                                 Movie Night          200           F

In [29]:
#df3.groupby(by = 'Friend_type')

In [35]:
df4= df3.sort_values(by = ['Friend_type','No_of_likes'], ascending =(True,False))
df4

                                       Status  No_of_likes Friend_type
2                              Scala is Great          100          CF
0                                 Hello World           25          CF
5                             Data is new OIL           20          CF
3                    ML & DL Gaining Traction           10          CF
6                                 Movie Night          200           F
4  ML and DL can be applied to medical domain          155           F
1                          Moving to NEW YORK           45           F

In [36]:
# "Scala is Great,
# Hello World,
# Data is new OIL,
# ML & DL Gaining Traction,
# Movie Night,
# ML and DL can be applied to medical domain,
# Moving to NEW YORK"

In [ ]:
"Scala is Great,Hello World,Data is new OIL,ML & DL Gaining Traction,Movie Night,ML and DL can be applied to medical domain,Moving to NEW YORK"

In [52]:
x = df4['Status'].to_string(header=False,
                  index=False
                  ).split('\n')

In [53]:
x

['                             Scala is Great',
 '                                Hello World',
 '                            Data is new OIL',
 '                   ML & DL Gaining Traction',
 '                                Movie Night',
 ' ML and DL can be applied to medical domain',
 '                         Moving to NEW YORK']

In [58]:
print(x)

['                             Scala is Great', '                                Hello World', '                            Data is new OIL', '                   ML & DL Gaining Traction', '                                Movie Night', ' ML and DL can be applied to medical domain', '                         Moving to NEW YORK']

In [62]:
import re
  
def remove(string):
    pattern = re.compile(r'\s+')
    return re.sub(pattern, '', string)

In [ ]:
print(remove(string)

In [ ]:
#vals = [','.join(ele.split()) for ele in x]

In [67]:
value = []
for i in x:
    value.append(remove(i))

In [69]:
value = []
for i in x:
    value.append(i.strip())

In [72]:
print(str(value)[1:-1])

'Scala is Great', 'Hello World', 'Data is new OIL', 'ML & DL Gaining Traction', 'Movie Night', 'ML and DL can be applied to medical domain', 'Moving to NEW YORK'

"Scala is Great,Hello World,Data is new OIL,ML & DL Gaining Traction,Movie Night,ML and DL can be applied to medical domain,Moving to NEW YORK"

In [ ]:
for i in

In [78]:
str1 = ''

In [85]:
str2= ''
for i in value:
    print(i)
    #str1.add(i)
    str1 = i + ','
    str2 += str1

Scala is Great
Hello World
Data is new OIL
ML & DL Gaining Traction
Movie Night
ML and DL can be applied to medical domain
Moving to NEW YORK

In [86]:
str2

'Scala is Great,Hello World,Data is new OIL,ML & DL Gaining Traction,Movie Night,ML and DL can be applied to medical domain,Moving to NEW YORK,'

In [64]:
value  = [lambda y : remove(y) for y in x]

In [65]:
value

[<function __main__.<listcomp>.<lambda>(y)>,
 <function __main__.<listcomp>.<lambda>(y)>,
 <function __main__.<listcomp>.<lambda>(y)>,
 <function __main__.<listcomp>.<lambda>(y)>,
 <function __main__.<listcomp>.<lambda>(y)>,
 <function __main__.<listcomp>.<lambda>(y)>,
 <function __main__.<listcomp>.<lambda>(y)>]

In [60]:
df4['Status'] = df4['Status'].str.strip()

In [61]:
df4['Status']

2                                Scala is Great
0                                   Hello World
5                               Data is new OIL
3                      ML & DL Gaining Traction
6                                   Movie Night
4    ML and DL can be applied to medical domain
1                            Moving to NEW YORK
Name: Status, dtype: object

In [57]:
for ele in x:
    print(ele)

                             Scala is Great
                                Hello World
                            Data is new OIL
                   ML & DL Gaining Traction
                                Movie Night
 ML and DL can be applied to medical domain
                         Moving to NEW YORK

In [54]:
vals = [','.join(ele.split()) for ele in x]

In [55]:
vals

['Scala,is,Great',
 'Hello,World',
 'Data,is,new,OIL',
 'ML,&,DL,Gaining,Traction',
 'Movie,Night',
 'ML,and,DL,can,be,applied,to,medical,domain',
 'Moving,to,NEW,YORK']

In [56]:
print(vals)

['Scala,is,Great', 'Hello,World', 'Data,is,new,OIL', 'ML,&,DL,Gaining,Traction', 'Movie,Night', 'ML,and,DL,can,be,applied,to,medical,domain', 'Moving,to,NEW,YORK']

In [87]:
sample_input = [["Hello World",25,"CF"],["Moving to NEW YORK",45,"F"],["Scala is Great",100,"CF"],["ML & DL Gaining Traction",10,"CF"],["ML and DL can be applied to medical domain",155,"F"],["Data is new OIL",20,"CF"],["Movie Night",200,"F"]]

In [90]:
# your code goes here
import pandas as pd

# Create df
df = pd.DataFrame(sample_input,columns = ['Status', 'No_of_likes', 'Friend_type'])

# Enter data into df using a for loop??
#for i in  sample_input:
#    df.loc[len(df.index)]=i

# Sort Values
df = df.sort_values(by=['Friend_type','No_of_likes'], ascending = (True, False))

# get status in a list
x = df['Status'].to_string(header=False,
                           index=False).split('\n')
# remove spaces from string
value= []
str2 = ''
for i in x:
    str1 = i.strip() + ','
    str2 += str1
    value.append(i.strip())

#print(value)
#output = str(value)[1:-1]
#print(output)
# str2 = ''
# for i in value:
#     str1 = i + ','
#     str2 += str1

print(str2)

Scala is Great,Hello World,Data is new OIL,ML & DL Gaining Traction,Movie Night,ML and DL can be applied to medical domain,Moving to NEW YORK,

"Scala is Great,Hello World,Data is new OIL,ML & DL Gaining Traction,Movie Night,ML and DL can be applied to medical domain,Moving to NEW YORK"

In [91]:
# your code goes here
import pandas as pd

# Create df
df = pd.DataFrame(sample_input,columns = ['Status', 'No_of_likes', 'Friend_type'])

# Sort Values
df = df.sort_values(by=['Friend_type','No_of_likes'], ascending = (True, False))

# get status in a list
x = df['Status'].to_string(header=False,
                           index=False).split('\n')

# remove spaces from string and joining them
str2 = ''
for i in x:
    str1 = i.strip() + ','
    str2 += str1
    
print(str2)

Scala is Great,Hello World,Data is new OIL,ML & DL Gaining Traction,Movie Night,ML and DL can be applied to medical domain,Moving to NEW YORK,

"Scala is Great,Hello World,Data is new OIL,ML & DL Gaining Traction,Movie Night,ML and DL can be applied to medical domain,Moving to NEW YORK"